body{
    margin: 0;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    border: 5px solid black;
    gap: 5px;
    margin-top: 20px;
    width: 90vw;
    height: 90vw;
}

.tile{
    font-size: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.tile:hover{
    background-color: rgb(214, 214, 214);
}

.win{
    font-size: 40px;
    place-self: center;
    margin-bottom: 20px;
    visibility: hidden;
}

.hud{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
}

.p1, .p2{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.reset{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .2s;
}

.reset:hover{
    border-color: red;
}



h1{
    text-align: center;
    font-size: 70px;
    margin: 20px 0;
}

/*----------DESKTOP----------*/
@media (min-width: 768px){
    .gameboard{
        width: 22vw;
        height: 22vw;
    }
}